@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Gothic+A1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Gothic+A1&family=Ramabhadra&display=swap');

body{overflow:auto;min-width:320px;font-size:14px;font-family:"Noto Sans KR", sans-serif;font-weight:400;font-style:normal}
::-webkit-scrollbar{width:8px;height:8px}
::-webkit-scrollbar-thumb{background:#d8d8d8;border-radius:20px}
::-webkit-scrollbar-track{background:transparent;border-radius:20px}

a,
button{font-family:"Noto Sans KR", sans-serif}
[class*='btn-']{height:40px;padding:0 10px;border-radius:10px}
a[class*='btn-']{width:fit-content;line-height:40px}
[class*='btn-']+[class*='btn-']{margin-left:10px}
[class*='btn-under']{height:auto;padding:0}
.btn-full{background:#ff1493;color:#fff}
.btn-border{color:#ff1493;border:1px solid #ff1493}
.btn-under{color:#ff1493;text-decoration:underline}
.btn-under-01{color:#6d6d6d;text-decoration:underline}
.btn-i-close{position:relative}
.btn-i-close:before{position:absolute;top:50%;left:50%;font-size:24px;font-family:FontAwesome;content:"\f00d";transform:translate(-50%, -50%)}
.btn-i-trash{position:relative;width:20px;height:20px;padding:0;color:#6d6d6d;font-size:16px}
.btn-i-trash:before{position:absolute;top:50%;left:50%;width:100%;height:100%;font-family:FontAwesome;content:"\f2ed";transform:translate(-50%, -50%)}
.btn-i-edit{position:relative;width:20px;height:20px;padding:0;color:#6d6d6d;font-size:16px}
.btn-i-edit:before{position:absolute;top:50%;left:50%;width:100%;height:100%;font-family:FontAwesome;content:"\f044";transform:translate(-50%, -50%)}
.btn-i-save{position:relative;width:20px;height:20px;padding:0;color:#6d6d6d;font-size:16px}
.btn-i-save:before{position:absolute;top:50%;left:50%;width:100%;height:100%;font-family:FontAwesome;content:"\f00c";transform:translate(-50%, -50%)}

input.check{width:16px;height:16px;margin:0;cursor:pointer}
.c-main{color:#ff1493}

.sltBx,
.txtBx{display:block;width:200px;height:40px;padding:0 5px;font-family:"Noto Sans KR", sans-serif;border:1px solid #dedede;border-radius:4px}
.post-txtBx{display:inline-block;width:600px;height:300px;padding:0 5px;font-family:"Noto Sans KR", sans-serif;border:1px solid #dedede;border-radius:4px}
::placeholder{color:#888;font-family:"Noto Sans KR", sans-serif}
textarea{display:block;width:200px;padding:5px;color:inherit;font-family:"Noto Sans KR", sans-serif;border:1px solid #dedede;border-radius:4px;resize:none}
label[for]{cursor:pointer}
input:disabled,
:disabled{background:#cfcfcf;color:#8d8d8d;cursor:default}
.blind{overflow:hidden;position:absolute;top:0;left:0;width:0;height:0;text-indent:-9999px}

.dimmed{display:none;position:fixed;top:0;left:0;width:100%;height:100%;background:rgba(59, 59, 59, 0.7);z-index:1500}

.container:after{display:block;clear:both;content:""}
.en{font-family:"Ramabhadra", sans-serif;font-weight:400;font-style:normal}

.pagination{display:flex;justify-content:center;align-items:center;margin-top:30px}
.pagination [class*="btn-i-"]{position:relative;width:20px;height:20px;padding:0}
.pagination .btn-i-prev:before{position:absolute;top:50%;left:50%;font-family:FontAwesome;content:"\f053";transform:translate(-50%, -50%)}
.pagination .btn-i-next:before{position:absolute;top:50%;left:50%;font-family:FontAwesome;content:"\f054";transform:translate(-50%, -50%)}
.pagination .page{display:flex;justify-content:center;align-items:center;font-weight:500}
.pagination .page .num{min-width:20px;min-height:20px;margin:0 10px;text-align:center;cursor:pointer}
.pagination [class*="btn-i-"]:hover,
.pagination .page .num:hover,
.pagination .page .num.on{color:#ff1493}