@charset "utf-8";
/*랜딩페이지*/
br.web{display:block}
br.mob{display:none}
.main{background:#222;font-family:"Gothic-A1", sans-serif;font-weight:400}
.main .txtBx{font-family:"Gothic-A1", sans-serif;font-weight:400}
.header{position:fixed;top:0;left:0;width:100%;height:110px;background:transparent;z-index:2000}
.headerWrap{width:1024px;height:100%;margin:0 auto}
.headerWrap:after{display:block;clear:both;content:""}
.header .headerWrap>h1{float:left;position:relative;top:50%;width:220px;height:60px;background:url(../img/logo.png) center no-repeat;background-size:contain;transform:translateY(-50%)}
.header .btn-full{float:right;position:relative;top:50%;width:100px;height:40px;font-size:18px;border-radius:14px;transform:translateY(-50%)}
.scroll{position:fixed;bottom:100px;left:50%;transform:translateX(-50%);z-index:2000}
.scroll>span{position:absolute;top:0;left:50%;width:24px;height:24px;margin-left:-12px;transform:rotate(-45deg);animation:scroll 2s infinite;opacity:0;box-sizing:border-box}
.scroll>span:nth-of-type(1){animation-delay:0s;border-left:3px solid #F21D6B;border-bottom:3px solid #F21D6B}
.scroll>span:nth-of-type(2){top:16px;animation-delay:.15s;border-left:3px solid #c4368d;border-bottom:3px solid #c4368d}
.scroll>span:nth-of-type(3){top:32px;animation-delay:.3s;border-left:3px solid #8a2be2;border-bottom:3px solid #8a2be2}
.fullNav{position:fixed;top:50%;right:170px;transform:translateY(-50%);z-index:2000}
.fullNav>li{width:16px;height:16px;background:#fff;border-radius:50%}
.fullNav>li+li{margin-top:20px}
.fullNav>li>a{display:block;width:100%;height:100%;font-size:0;border-radius:50%}
.fullNav>li.active{background:#ff1493}
.fullNav [data-menuanchor="section-intro"]{display:none}
.fullNav [data-menuanchor="section-makes"]{margin-top:0}
.fullpage{width:100%;height:100%}
.section{background:#222}
.contents{position:relative;width:1024px;height:calc(100vh - 110px);margin:110px auto 0}
.contents .txtBx{position:absolute;top:55px;left:0;width:auto;height:auto;border:none}
.contents .txtBx .title{margin-bottom:30px;color:#fff;font-size:80px;line-height:80px}
.contents .txtBx .subTitle{color:#fff;font-size:20px}
.contents .imgBx{position:absolute;right:0;bottom:100px;width:358px;height:302px}
.section-intro .contents .txtBx .title{color:#ff1493}
.section-intro .video{position:absolute;top:0;left:0;width:100%;height:100%}
.section-intro .video video{width:100%;height:100%;object-fit:cover;scale:1.1}
.section-makes .imgBx{background:url(../img/bg-section1.png) center no-repeat;background-size:contain}
.section-hashtag .imgBx{background:url(../img/bg-section2.png) center no-repeat;background-size:contain}
.section-community .imgBx{background:url(../img/bg-section3.png) center no-repeat;background-size:contain}
.section-subscribe .imgBx{background:url(../img/bg-section4.png) center no-repeat;background-size:contain}
.section-connection .imgBx{background:url(../img/bg-section5.png) center no-repeat;background-size:contain}
.section-connection .contents .txtBx .btn-full{width:300px;height:50px;margin-top:40px;font-size:22px;border-radius:20px}

@keyframes scroll{
	0%{opacity:0}
	50%{opacity:1}
	100%{opacity:0}
}

/*서비스페이지 common*/
.service{background:#f2f2f2}
.service .logo{width:142px;height:40px;background:url(../img/logo.png) center no-repeat;background-size:contain;text-indent:-9999px}
.service .container{width:calc(100% - 250px);min-height:100vh;margin-left:250px}
.service .container .cntWrap{width:1100px;margin:0 auto;padding:100px 0}
.service .container .title{display:block;margin-bottom:30px;font-size:24px}
.service .container [class*="section-"]+[class*="section-"]{margin-top:80px}
.error{color:#ff0000;font-size:12px}

/*메뉴*/
.service .menu{position:fixed;top:0;left:0;width:250px;height:100vh;background:#222;color:#c3c3c3}
.menu>.wrap{padding:25px}
.menu .userCnt{position:relative;margin:30px 0;padding:30px 0;border-top:1px solid #414141;border-bottom:1px solid #414141}
.menu .userCnt>div{display:flex;justify-content:start;align-items:center;cursor:default}
.menu .userCnt .user{cursor:pointer}
.menu .userCnt .image{width:40px;height:40px;margin-right:10px;font-size:38px}
.menu .userCnt .image>img{display:block;width:100%;height:100%}
.menu .userCnt .name{position:relative;padding-right:14px}
.menu .userCnt .name:before{position:absolute;top:50%;right:0;font-family:FontAwesome;transform:translateY(-50%);content:"\f0d7"}
.menu .userCnt .dropMenu{display:none;position:absolute;bottom:-10px;left:40px;width:160px;margin-top:20px;padding:10px;background:#333;border-radius:10px}
.menu .menuCnt>ul{overflow:auto;max-height:100vh}
.menu .menuCnt .item{height:30px;margin-bottom:20px;font-size:16px}
.menu .menuCnt .item>a{text-align:left}
.menu .menuCnt .item>a.on{color:#ff1493}
.menu .menuCnt .item>a:hover{color:#fff}
.menu .menuCnt .item>a>i{position:relative;top:2px;margin-right:10px;font-size:20px}

/*로그인*/
.login{display:flex;align-items:center;width:100%;height:100vh}
.login .container{width:500px;min-height:unset;margin:0 auto;background:#fff;border-radius:20px}
.login .wrap{padding:20px}
.login .logo{margin-bottom:30px}
.login .loginCnt form{width:100%}
.login .loginCnt .item+.item{margin-top:20px}
.login .loginCnt .item>p{margin-bottom:10px;font-weight:500}
.login .loginCnt .txtBx{width:100%}
.login .loginCnt .error{color:#ff0000;font-size:12px}
.login .loginCnt .btn-full{width:100%;margin-top:30px;font-size:18px}
.login .loginCnt .btnBx{display:flex;justify-content:flex-end;align-items:center}
.login .loginCnt .btnBx .btn-under-01{height:auto;margin-top:10px;padding:0;line-height:unset}
.login .line{position:relative;width:100%;height:1px;margin:40px auto;background:#ddd}
.login .line>i{position:absolute;top:50%;left:50%;padding:10px;background:#fff;transform:translate(-50%, -50%)}
.login .btnCnt{display:flex;justify-content:center}
.login .btnCnt [class*="login-"]{width:50px;height:50px;background:#222;color:#fff;font-size:30px;border-radius:50%}
.login .btnCnt [class*="login-"]+[class*="login-"]{margin-left:20px}
.login .btnCnt [class*="login-"]>i{display:block}

/*회원가입*/
.join{display:flex;align-items:center;width:100%;height:100vh}
.join .container{width:500px;min-height:unset;margin:0 auto;background:#fff;border-radius:20px}
.join .wrap{padding:20px}
.join .logo{margin-bottom:30px}
.join .joinCnt .inputBx+.inputBx{margin-top:10px}
.join .joinCnt .inputBx .doubleCheck{display:flex;justify-content:flex-start;align-items:center;margin-bottom:10px}
.join .joinCnt .inputBx .doubleCheck .txtBx{margin-right:10px;margin-bottom:0}
.join .joinCnt .inputBx .doubleCheck .btn-border{width:120px}
.join .joinCnt .inputBx .noti{margin-bottom:10px;color:#999;font-size:12px}
.join .joinCnt .inputBx .txtBx{width:100%;margin-bottom:10px}
.join .joinCnt .inputBx .txtBx::placeholder{color:#222}
.join .joinCnt .inputBx .sltBx{width:100%;color:#222}
.join .joinCnt .inputBx form>div:after{display:block;clear:both;content:""}
.join .joinCnt .inputBx .phone .txtBx{float:left;width:calc(100% - 100px)}
.join .joinCnt .inputBx form>div>button{float:right;width:90px;height:40px;margin-left:10px}
.join .joinCnt .inputBx .nickname .txtBx{float:left;width:calc(100% - 100px)}
.join .joinCnt .inputBx .imgBx{margin-bottom:10px;padding:0 5px;border:1px solid #dedede;border-radius:4px}
.join .joinCnt .inputBx .imgBx:after{display:block;clear:both;content:""}
.join .joinCnt .inputBx .imgBx button{float:left;width:auto;height:40px;margin-left:0;padding:0}
.join .joinCnt .inputBx .imgBx .fileName{overflow:hidden;float:left;width:calc(100% - 112px);height:40px;margin-left:10px;line-height:40px;white-space:nowrap;text-overflow:ellipsis}
.join .joinCnt .inputBx .birthBx{display:flex;justify-content:flex-start;align-items:center;margin-bottom:10px}
.join .joinCnt .inputBx .birthBx>label{margin-right:10px}
.join .joinCnt .inputBx .birthBx .txtBx{margin-bottom:0}
.join .joinCnt .btn-full{width:100%;margin-top:30px;font-size:18px;font-weight:700}

/*플레이바*/
.playBar{position:fixed;top:0;left:250px;width:calc(100% - 250px);height:100px;background:#222;color:#fff;font-size:28px;text-align:center;line-height:100px;z-index:1000}

/*뮤직리스트*/
.listBx>p{margin-bottom:10px;font-size:16px;font-weight:700}
.listBx .item{display:flex;justify-content:flex-start;align-items:center;cursor:default}
.listBx .item+.item{margin-top:20px}
.listBx .item .num{width:24px;height:24px;margin-right:10px;background:#ff1493;color:#fff;font-weight:700;text-align:center;line-height:24px;border-radius:50%}
.listBx .item .num>i{display:block}
.listBx .item .album{width:50px;height:50px;margin-right:10px;background:#ddd;cursor:pointer}
.listBx .item .arti{width:calc(100% - 90px)}
.listBx .item .arti>i{overflow:hidden;display:block;white-space:nowrap;text-overflow:ellipsis}
.listBx .item .arti>i+i{margin-top:4px}
.listBx .item .album:hover{position:relative;background:rgba(0,0,0,0.8)}
.listBx .item .album:hover:before{position:absolute;top:50%;left:50%;color:#fff;font-family:FontAwesome;font-size:30px;transform:translate(-50%, -50%);content:"\f144"}

/*차트*/
.chart .container .cntWrap{margin-top:100px}
.chart .section-chart:after{display:block;clear:both;content:""}
.chart .section-chart .listBx{float:left;width:calc(100% / 3 - 14px);padding:20px;background:#fff;border-radius:10px}
.chart .section-chart .listBx+.listBx{margin-left:20px}
.chart .section-chart .listBx .titWrap{display:flex;justify-content:space-between;align-items:center;margin-bottom:20px}
.chart .section-chart .listBx .titWrap .subTit{font-size:16px;font-weight:500}
.chart .section-chart .listBx .item+.item{margin-top:12px}
.chart .section-station>p{margin-bottom:30px;font-size:24px;font-weight:700}
.chart .section-station .stationBx>ul{display:flex;justify-content:center;align-items:center;flex-wrap:wrap}
.chart .section-station .stationBx .item{display:flex;justify-content:center;align-items:center;width:calc(100% / 3 - 20px);height:220px;margin-right:30px;margin-bottom:30px;background:#dedede;font-size:16px;border-radius:50px;cursor:pointer;transition:all 0.2s ease-in}
.chart .section-station .stationBx .item:hover{background:#222 !important;color:#fff !important;font-size:18px}
.chart .section-station .stationBx .item:nth-child(3n){margin-right:0}
.chart .section-station .stationBx .item:nth-child(4),
.chart .section-station .stationBx .item:nth-child(5),
.chart .section-station .stationBx .item:nth-child(6){margin-bottom:0}

/*플레이리스트*/
.playlist .container{min-height:calc(100vh - 100px)}
.playlist .container [class*="section-"]+[class*="section-"]{margin-top:40px}
.playlist .container .cntWrap{margin-top:100px}
.playlist .section-tag{text-align:center}
.playlist .section-tag .noti{margin-bottom:20px;color:#464646;font-size:16px;font-weight:500}
.playlist .section-tag .tagList{width:500px;margin:0 auto;font-size:0}
.playlist .section-tag .tagList .tag{display:inline-block;margin:10px;padding:10px;font-size:14px;border-radius:20px;cursor:pointer}
.playlist .section-tag .tagList .tag:hover,
.playlist .section-tag .tagList .tag.on{background:#ff1493 !important;color:#fff !important}
.playlist .section-tag .btnCnt{display:flex;justify-content:center;align-items:center;margin-top:30px}
.playlist .section-tag .btnCnt>button+button{margin-left:20px}
.playlist .section-list{padding-top:40px;border-top:1px solid #dedede}
.playlist .section-list>div{margin:0 auto;padding:20px;background:#fff;border-radius:20px}
.playlist .section-list .listName{margin-bottom:10px;font-size:16px;font-weight:500}
.playlist .section-list .check{margin-right:10px}
.playlist .section-list .btnWrap{display:flex;justify-content:flex-end;margin-bottom:10px}
.playlist .section-list .itemWrap{display:flex;flex-wrap:wrap}
.playlist .section-list .itemWrap .item{width:50%}
.playlist .section-list .itemWrap .all{width:100%}

/*커뮤니티*/
.community .section-artist .tit{margin-bottom:20px;font-size:18px;font-weight:500}
.community .section-artist .artistList{display:flex;justify-content:flex-end;flex-wrap:wrap}
.community .section-artist .artistList>button{margin-bottom:20px}
.community .section-artist .artistList>ul{display:flex;justify-content:space-between;align-items:center;flex-wrap:wrap}
.community .section-artist .artistList .item{overflow:hidden;position:relative;width:300px;height:350px;margin-bottom:30px;background:#fff;border-radius:20px}
.community .section-artist .artistList .item>a{display:block}
.community .section-artist .artistList .item .artist{width:100%;height:250px}
.community .section-artist .artistList .item .artist img{display:block;width:100%;height:100%;transition:all 0.4s ease-in;object-fit:cover}
.community .section-artist .artistList .item .artistLogo{position:absolute;bottom:70px;left:50%;width:60px;height:60px;border-radius:50%;transform:translateX(-50%)}
.community .section-artist .artistList .item .artistLogo img{display:block;width:100%;height:100%;border-radius:50%;object-fit:cover}
.community .section-artist .artistList .item .artistName{width:100%;height:100px;font-size:22px;font-weight:500;line-height:100px}
.community .section-artist .artistList .item:hover .artist img{scale:1.1}

/*아티스트 상세페이지*/
[class*="artist-"] .section-banner .thumb{display:block;width:100%;height:300px;object-fit:cover}
[class*="artist-"] .section-artist-post{width:100%}
[class*="artist-"] .section-artist-post .postBx{position:relative;width:calc(100% / 3);height:150px;margin:40px 20px 20px;box-shadow:0 4px 10px #1f2d383b;transition:transform .3s ease-in-out}
[class*="artist-"] .section-artist-post .postBx:hover{transform:translateY(-10px)}
[class*="artist-"] .section-artist-post .txt{overflow:hidden;display:-webkit-box;width:100%;text-overflow:ellipsis;-webkit-box-orient:vertical;-webkit-line-clamp:3}
[class*="artist-"] .section-artist-post .slideBx{display:flex;justify-content:center;align-items:center;padding:0 20px}
[class*="artist-"] .section-artist-post .slick-arrow{margin-top:10px;color:#222}
[class*="artist-"] .section-artist-post .slick-arrow:hover{color:#000}
[class*="artist-"] .section-artist-post .slick-arrow:before{font-family:FontAwesome;color:#444}
[class*="artist-"] .section-artist-post .slick-prev{left:0}
[class*="artist-"] .section-artist-post .slick-prev:before{content:"\f053"}
[class*="artist-"] .section-artist-post .slick-next{right:0}
[class*="artist-"] .section-artist-post .slick-next:before{content:"\f054"}
[class*="artist-"] .section-fan-post{width:500px;margin:0 auto}
[class*="artist-"] .section-fan-post .posting{display:flex;justify-content:space-between;align-items:center;width:100%;height:60px;margin:0 auto 50px;padding:10px 30px;background:#fff;border-radius:30px;cursor:pointer}
[class*="artist-"] .section-fan-post .posting>p{color:#737373;font-size:16px;font-weight:500}
[class*="artist-"] .section-fan-post .posting .i-img{font-size:20px}
[class*="artist-"] .section-fan-post .postBx{width:100%;margin-top:20px}
[class*="artist-"] .section-fan-post .postBx:first-child{margin-top:0}
[class*="artist-"] .section-fan-post .date{margin-left:auto;color:#737373;font-size:12px}
[class*="artist-"] .section-fan-post .postBx .fan-cnt img{width:100%;height:100%;object-fit:contain}

/*포스트박스 common*/
.postBx{padding:20px;background:#fff;border-radius:10px}
.postBx>a{display:block;width:100%;height:100%}
.postBx [class*="-thumb"]{width:100%;height:100%;border-radius:50%}
.postBx [class*="-comment"]{width:100%;height:100%;margin-top:10px;text-align:left;border-radius:50%}
.postBx [class*="-top"]{display:flex;justify-content:flex-start;align-items:center}
.postBx [class*="-mark"]{display:inline-block;width:12px;height:12px;margin-right:5px;background:url(../img/i-artist.png) center no-repeat;background-size:12px 12px}
.postBx [class*="-name"]{font-size:16px;font-weight:500}
.postBx [class*="-cnt"]{margin-top:10px}
.postBx .arti-profile{position:absolute;top:0;left:20px;width:46px;height:46px;transform:translateY(-50%)}
.postBx .fan-profile{display:flex;justify-content:flex-start;align-items:center}
.postBx .fan-thumb{width:46px;height:46px;margin-right:10px}
.postBx .nickname{overflow:hidden;width:300px;font-weight:500;white-space:nowrap;text-overflow:ellipsis;text-align:left}

/*멤버십*/
.membership .section-membership .tit{margin-bottom:50px;font-size:18px;font-weight:500}
.membership .section-membership .itemCnt{display:flex;justify-content:center;align-items:center;}
.membership .section-membership .item{width:300px;padding:20px;background:#fff;text-align:center;border-radius:20px}
.membership .section-membership .item+.item{margin-left:30px}
.membership .section-membership .item .thumb{font-size:40px}
.membership .section-membership .item .info{font-size:18px}
.membership .section-membership .item .info>span{display:block}
.membership .section-membership .item .info>span+span{margin-top:10px}
.membership .section-membership .item .info .grade{font-weight:500}
.membership .section-membership .item .price{margin-top:20px;font-size:20px;font-weight:500}
.membership .section-membership .item .btn-full{margin:20px auto 0}

/*마이페이지*/
.mypage .tabBtn{margin-bottom:20px;padding:20px;background:#fff;border-radius:20px}
.mypage .tabBtn>ul{display:flex;justify-content:start;align-items:center}
.mypage .tabBtn .tab{margin-right:20px;font-size:16px;font-weight:500;cursor:pointer}
.mypage .tabBtn .tab.on{color:#ff1493}
.mypage .tabCnt{padding:20px;background:#fff;border-radius:20px}
.mypage .tabCnt .cntBx{display:none}
.mypage .tabCnt .cntBx.on{display:block}
.mypage .tabCnt .cntBx .cnt .item+.item{margin-top:20px}
.mypage .tabCnt .cntBx .cnt .item .dt{margin-bottom:10px}
.mypage .tabCnt .cntBx .cnt .item .dd:after{display:block;clear:both;content:""}
.mypage .tabCnt .cntBx .cnt .item .dd .txtBx+.txtBx{margin-top:10px}
.mypage .tabCnt .cntBx .btnWrap{display:flex;justify-content:flex-end;align-items:center}
.mypage .tab-myinfo .cnt .nickname .dd .txtBx{float:left;margin-right:10px}
.mypage .tab-myinfo .cnt .nickname .dd button{float:left}
.mypage .tab-myinfo .cnt .image .dd button{float:left;margin-right:10px}
.mypage .tab-myinfo .cnt .image .dd .file{float:left;display:block;overflow:hidden;width:200px;height:40px;padding:0 5px;border:1px solid #dedede;border-radius:4px;text-overflow:ellipsis;white-space:nowrap}
.mypage .tab-myinfo .cnt .image .dd .file>i{display:block;width:100%;height:100%;line-height:40px}
.mypage .tab-myinfo .btnWrap{margin-top:20px;padding-top:20px;border-top:1px solid #dedede}
.mypage .tab-membership>ul{width:500px;margin:0 auto}
.mypage .tab-membership .current{margin-bottom:10px;font-weight:500}
.mypage .tab-membership .current>i{font-weight:700}
.mypage .tab-membership .item{display:flex;justify-content:space-between;align-items:center;width:100%;padding:20px;background:#fff;border-radius:20px}
.mypage .tab-membership .item.disabled{color:#9b9b9b}
.mypage .tab-membership .item+.item{margin-top:20px}
.mypage .tab-membership .item .thumb{margin-right:10px;font-size:30px}
.mypage .tab-membership .item .info{width:calc(100% - 160px);margin-right:10px}
.mypage .tab-membership .item .info>span{display:block}
.mypage .tab-membership .item .info>span+span{margin-top:10px}
.mypage .tab-membership .item .info .grade{font-weight:500}
.mypage .tab-membership .item .price{margin-right:20px;font-weight:500}
.mypage .tab-post .btnWrap{margin-bottom:20px;padding-bottom:20px}
.mypage .tab-post .item{display:flex;justify-content:flex-start;align-items:center;padding-bottom:10px;text-align:left;border-bottom:1px solid #e9e9e9}
.mypage .tab-post .item .check{margin-right:10px}
.mypage .tab-post .item .num{margin-right:10px}
.mypage .tab-post .item .tit{overflow:hidden;width:calc(100% - 50px);text-align:left;white-space:nowrap;text-overflow:ellipsis}
.mypage .tab-post .item .tit>a{display:block}
.mypage .tab-post .item .tit:hover{font-weight:500}
.mypage .tab-playlist .btnWrap{margin-bottom:20px;padding-bottom:20px}
.mypage .tab-playlist .item{display:flex;align-items:center;justify-content:start;flex-wrap:wrap;padding-bottom:10px;text-align:left;border-bottom:1px solid #e9e9e9}
.mypage .tab-playlist .item .check{margin-right:10px}
.mypage .tab-playlist .item .num{margin-right:10px}
.mypage .tab-playlist .item .tit{cursor:pointer}
.mypage .tab-playlist .item .tit>a{display:block}
.mypage .tab-playlist .item .date{margin-left:auto}
.mypage .tab-playlist .item .list{width:100%}
.mypage .tab-playlist .item .list .listWrap{display:none;margin-top:10px}
.mypage .tab-playlist .item .list .listWrap>li+li{margin-top:5px}

/*팝업*/
.popup{display:none;position:fixed;top:50%;left:50%;width:500px;max-height:500px;background:#fff;border-radius:20px;transform:translate(-50%, -50%);z-index:2500}
.popup>.wrap{padding:20px}
.popup .topArea{display:flex;justify-content:space-between;align-items:center;margin-bottom:20px;font-size:18px;font-weight:700}
.popup .btnWrap{display:flex;justify-content:center;align-items:center;margin-top:20px}

/*팝업 공통 얼럿메세지*/
[class*="pop-alert-"]{width:300px}
[class*="pop-alert-"] .cntArea{text-align:center}
[class*="pop-alert-"] .cntArea .messageBx>p{margin-bottom:10px}
[class*="pop-alert-"] .cntArea .btn-under{margin:0 auto;padding:0}

/*팝업 찾기 공통*/
[class*="pop-find-"]{width:300px}
[class*="pop-find-"] .cntArea .findCnt .txtBx{width:100%;margin-bottom:10px}
[class*="pop-find-"] .cntArea .findCnt .btn-border{width:100%}
[class*="pop-find-"] .cntArea .resultCnt{display:none;margin-top:20px;padding-top:20px;text-align:center;border-top:1px solid #c3c3c3}

/*팝업 중복확인*/
.pop-alert-check .cntArea .messageBx:after{display:block;clear:both;content:""}
.pop-alert-check .cntArea .messageBx .msg{float:left;width:100%;margin-bottom:20px}
.pop-alert-check .cntArea .messageBx .btn-full{float:right}

/*팝업 스테이션*/
.pop-station-list{max-height:unset}
.pop-station-list .cntArea:after{display:block;clear:both;content:""}
.pop-station-list .cntArea .listBx{overflow:auto;float:left;width:100%;height:500px}
.pop-station-list .cntArea .btn-under{float:right;margin-bottom:10px}

/*팝업 아티스트추가요청*/
.pop-add-artist .cntArea .listBx .item{display:block}
.pop-add-artist .cntArea .listBx .item .tit{display:block;width:100%;margin-bottom:10px;font-weight:500}
.pop-add-artist .cntArea .listBx .item .txtBx{width:100%}
.pop-add-artist .cntArea .btnBx{display:flex;justify-content:flex-end;align-items:center;margin-top:30px}

/*팝업 포스트 쓰기*/
.pop-post{width:800px;max-height:unset}
.pop-post .topArea .artiName{font-size:14px}
.pop-post .cntArea .txtBx{width:100%;height:500px;padding:20px}
.pop-post .cntArea .btmBx{display:flex;justify-content:space-between;align-items:center;margin-top:20px;padding-top:20px;border-top:1px solid #dedede}
.pop-post .cntArea .btmBx .imgBx{width:80%}
.pop-post .cntArea .btmBx .imgBx .fileName{width:100%;margin-top:10px;color:#757575}
.pop-post .cntArea .btmBx .imgBx .fileName>div{display:flex;justify-content:flex-start;align-items:center;height:24px}
.pop-post .cntArea .btmBx .imgBx .fileName .fName{overflow:hidden;max-width:80%;white-space:nowrap;text-overflow:ellipsis}
.pop-post .cntArea .btmBx .imgBx .fileName .btn-i-del{width:20px;height:20px;margin-left:10px;padding:0}


/*팝업 아티스트&팬 포스팅*/
[class*="pop-post-"]{width:1100px;max-height:unset}
[class*="pop-post-"] .topArea{justify-content:flex-end;margin-bottom:10px;padding-bottom:10px;border-bottom:1px solid #ebebeb}
[class*="pop-post-"] .cntArea{display:flex;justify-content:space-between}
[class*="pop-post-"] .postBx{width:calc(65% - 20px);margin-right:20px;padding:0}
[class*="pop-post-"] .postBx .btn-i-edit,
[class*="pop-post-"] .postBx .btn-i-trash{margin-left:10px}
[class*="pop-post-"] .postBx .btn-i-save:hover,
[class*="pop-post-"] .postBx .btn-i-edit:hover,
[class*="pop-post-"] .postBx .btn-i-trash:hover{color:#000}
[class*="pop-post-"] .postBx .arti-profile{position:static;margin-right:10px;transform:translateY(0)}
[class*="pop-post-"] .postBx .arti-cnt{overflow:auto;max-height:400px;padding:0 10px}
[class*="pop-post-"] .postBx .arti-date,
[class*="pop-post-"] .replyBx .date{margin-left:auto;color:#737373;font-size:12px}
[class*="pop-post-"] .postBx .fan-comment .txtBx{width:100%}
[class*="pop-post-"] .replyBx{width:35%}
[class*="pop-post-"] .replyBx .top .count{display:flex;justify-content:space-between;align-items:center;color:#333}
[class*="pop-post-"] .replyBx .top .count .num{color:#000;font-weight:700}
[class*="pop-post-"] .replyBx .top .count .btn-i-reset,
[class*="pop-post-"] .replyBx .top .count .btn-i-like{width:auto;height:auto;color:#737373;font-size:20px}
[class*="pop-post-"] .replyBx .top .count .btn-i-like.on{color:#ff0000}
[class*="pop-post-"] .replyBx .top .count .btn-i-reset:hover{color:#000}
[class*="pop-post-"] .replyBx .reply{margin-top:10px;padding-top:10px;border-top:1px solid #ebebeb}
[class*="pop-post-"] .replyBx .list{overflow:auto;max-height:400px;padding:0 10px}
[class*="pop-post-"] .replyBx .postBx{width:100%;margin-right:0;border-radius:0}
[class*="pop-post-"] .replyBx .postBx+.postBx{margin-top:10px;padding-top:10px;border-top:1px solid #ebebeb}
[class*="pop-post-"] .replyBx .postBx .fan-thumb{width:26px;height:26px}
[class*="pop-post-"] .replyBx .postBx .nickname{width:80%}
[class*="pop-post-"] .replyBx .postBx .date{text-align:right}
[class*="pop-post-"] .replyBx .input{display:flex;justify-content:space-between;align-items:center;margin-top:20px;padding-top:20px;border-top:1px solid #ebebeb}
[class*="pop-post-"] .replyBx .input .txtBx{width:calc(100% - 50px);margin-right:10px;padding:0 10px;background:#ededed;border-radius:20px;border:none}
[class*="pop-post-"] .replyBx .input .btn-i-send{width:40px;height:40px;padding:0;background:#ededed;color:#333;border-radius:50%}

/*Tablet*/
@media all and (max-width:1366px){
	.headerWrap,
	.contents{width:840px}
}

/*Mobile*/
@media all and (max-width:1023px){
	br.web{display:none}
	br.mob{display:block}
	.header{height:60px}
	.headerWrap{width:auto;padding:0 40px}
	.header .headerWrap>h1{width:40px;height:40px;background:url(../img/heartbeat.png) center no-repeat;background-size:contain}
	.header .btn-full{width:80px;height:30px;font-size:14px;line-height:28px}
	.scroll{left:58px;transform:translateX(0)}
	.sectionWrap{padding:0 40px}
	.contents{width:auto;height:calc(90vh - 60px);margin:0}
	.contents .txtBx{top:60px}
	.contents .txtBx .title{margin-bottom:22px;font-size:40px;line-height:40px}
	.contents .txtBx .subTitle{font-size:16px}
	.contents .imgBx{bottom:40px;width:220px;height:220px}
	.section-connection .contents .txtBx .btn-full{width:180px;height:30px;margin-top:16px;font-size:12px;line-height:28px}
	.fullNav{right:30px}
	.fullNav>li{width:10px;height:10px}
	.fullNav>li+li{margin-top:18px}
}